// fuente
$fuenteBase: 'Poppins', sans-serif;

// fuentes
// $headline-1: 500 8.8rem / 10rem;
// $headline-2: 600 6.4rem / 9.6rem;
// $headline-3: 700 24rem / 24rem;
// $body-bold: 700 1.8rem / 3.2rem;
// $body-medium: 500 1.8rem / 3.2rem;
// $body-regular: 400 1.8rem / 3.2rem;
$button: 700 1.8rem / 2.7rem;

$headline-1: 500 6.8rem / 8rem;
$headline-2: 600 5.5rem / 6.2rem;
$headline-3: 700 16rem / 16rem;
$body-bold: 700 1.3rem / 2.7rem;
$body-medium: 500 1.3rem / 2.7rem;
$body-regular: 400 1.3rem / 2.2rem;
// $button: 700 1.3rem / 2.2rem;

$m-headline-1: 500 2.4rem / 3.6rem;
$m-headline-2: 600 2.4rem / 3.6rem;
$m-headline-3: 700 8rem / 12rem;
$m-body-bold: 700 2.4rem / 3.6rem;
$m-body-medium: 500 1.8rem / 3.2rem;
$m-body-regular: 400 1.6rem / 2.4rem;
$m-button: 700 1.8rem / 2.7rem;

// colores
$color1:#FDD130;
$color2: rgba(255, 255, 255, 0.1);
$color3: #0b1d2649;
$color4: rgba(255, 255, 255, 0.4);
$color5:#ebce67;
$fondo1: #0B1D26;

$blanco: #fff;
$gris1: #E0E0E0;
$gris2: #ACACAC;
$gris3: #838383;
$gris4: #555555;
$gris5: #2b2b2b;
$negro: #000;

// media querys
$phone: 380px;
$mid: 480px;
$tablet: 768px;
$desktop: 1040px;