.headline-1 {
  font: 500 2.4rem/3.6rem "Poppins", sans-serif;
}

.headline-2 {
  font: 600 2.4rem/3.6rem "Poppins", sans-serif;
}

.headline-3 {
  font: 700 8rem/12rem "Poppins", sans-serif;
}

.body-bold {
  font: 700 2.4rem/3.6rem "Poppins", sans-serif;
}

.body-medium {
  font: 500 1.8rem/3.2rem "Poppins", sans-serif;
}

.body-regular {
  font: 400 1.6rem/2.4rem "Poppins", sans-serif;
}

.button {
  font: 700 1.8rem/2.7rem "Poppins", sans-serif;
}

@media (min-width: 1040px) {
  .headline-1 {
    font: 500 6.8rem/8rem "Poppins", sans-serif;
  }

  .headline-2 {
    font: 600 5.5rem/6.2rem "Poppins", sans-serif;
  }

  .headline-3 {
    font: 700 16rem/16rem "Poppins", sans-serif;
  }

  .body-bold {
    font: 700 1.3rem/2.7rem "Poppins", sans-serif;
  }

  .body-medium {
    font: 500 1.3rem/2.7rem "Poppins", sans-serif;
  }

  .body-regular {
    font: 400 1.3rem/2.2rem "Poppins", sans-serif;
  }

  .button {
    font: 700 1.8rem/2.7rem "Poppins", sans-serif;
  }
}
a {
  text-decoration: none;
  color: #000;
}

.c_negro {
  color: #0B1D26;
}

ul {
  list-style-type: none;
}

.t-centrado {
  text-align: center;
}

.sec-img {
  max-width: 100%;
}

.barra_lateral {
  width: 7.2rem;
  height: 0.2rem;
  background-color: #FDD130;
  margin-bottom: 3rem;
}

.scale-1 {
  transition: 0.5s ease;
}
.scale-1:hover {
  transform: scale(1.2, 1.2);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #0B1D26;
  color: #fff;
  position: relative;
  z-index: 1;
}

main {
  position: relative;
  z-index: 3;
  padding: 2.4rem;
}

.main_wrapper {
  max-width: 37rem;
  margin: 0 auto;
}

.logo_cont {
  display: grid;
  gap: 1rem;
  justify-content: flex-start;
}
.logo_cont a {
  display: grid;
  justify-content: center;
}

.col_1, .col_3 {
  display: none;
}

.sc-ul {
  padding: 0;
  text-align: right;
}

.sc-li a {
  display: block;
  padding-right: 1rem;
  border-right: solid 0.3rem #0b1d2649;
  padding: 1.6rem 2rem 1.6rem 0;
}
.sc-li a:hover {
  transition: 1s ease;
  border-right: solid 0.7rem #0B1D26;
}

@media (min-width: 768px) {
  .main_content {
    display: grid;
    grid-template-columns: 7.8rem auto 7.8rem;
    gap: 2rem;
  }

  .col_1, .col_3 {
    display: block;
  }

  .main_wrapper {
    max-width: 65rem;
  }
}
@media (min-width: 1040px) {
  .main_wrapper {
    max-width: 120rem;
  }

  .main_content {
    gap: 4rem;
  }
}
.bg_cont {
  width: 100%;
  height: 130vh;
  max-height: 150rem;
  position: absolute;
  z-index: 2;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 27%, #0b1d26 78%), url(../img/background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 1040px) {
  .bg_cont {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 47%, #0b1d26 99%), url(../img/background.webp);
    height: 200vh;
    background-size: cover;
  }
}

header {
  position: relative;
  top: 0;
  z-index: 4;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
}

.header_wrapper {
  max-width: 37rem;
  margin: 0 auto;
}

.header_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_content img {
  max-width: 15rem;
  margin: 1.5rem;
}

.nav {
  width: 100%;
}

.nav-ul {
  display: flex;
  padding: 0;
  justify-content: space-around;
}

.nav-li {
  display: contents;
}
.nav-li a {
  text-align: center;
  display: block;
  width: 100%;
  padding: 2rem 1rem;
}

@media (min-width: 768px) {
  .header_wrapper {
    max-width: 65rem;
  }

  .header_content {
    padding: 1rem 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav {
    width: auto;
  }

  .nav-li a {
    padding: 2rem 2rem;
  }
}
@media (min-width: 1040px) {
  .header_wrapper {
    max-width: 120rem;
  }
}
.hero_content {
  padding-right: 2rem;
  margin-bottom: 44rem;
}
.hero_content p {
  margin-bottom: 3.2rem;
}
@media (min-width: 768px) {
  .hero_content {
    margin-bottom: 70vh;
  }
}
@media (min-width: 1040px) {
  .hero_content {
    width: 73rem;
    padding: 0;
    margin: 0 auto 40rem auto;
  }
}

.arrow-cont {
  display: inline-block;
  height: 4.8rem;
}
.arrow-cont img {
  position: relative;
  animation: moveWithSpin 8s ease;
  animation-iteration-count: infinite;
}

@keyframes moveLoop {
  0% {
    top: 0;
  }
  100% {
    top: 2.4rem;
  }
}
@keyframes moveWithSpin {
  0% {
    top: 0rem;
  }
  12% {
    top: 2.4rem;
  }
  24% {
    top: 0rem;
  }
  36% {
    top: 2.4rem;
  }
  48% {
    top: 0rem;
  }
  60% {
    top: 2.4rem;
  }
  72% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  95% {
    transform: rotate3d(0, 0, 1, 720deg);
  }
  100% {
    top: 0rem;
  }
}
.s1_content, .s2_content, .s3_content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 0;
}

.text {
  padding: 6rem 0 0 0;
  position: relative;
}

.text-cont h2 {
  margin-bottom: 3rem;
}

.numero {
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(255, 255, 255, 0.1);
}

.text-link {
  display: inline-flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: nowrap;
  margin-top: 3.3rem;
}
.text-link p {
  color: #FDD130;
}
.text-link img {
  height: 1.6rem;
}

.text-link .tl-img {
  transition: 0.5s ease;
}
.text-link:hover .tl-img {
  transform: scale(1.2, 1.2);
  padding-left: 1rem;
}

.img-cont {
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.247);
}
.img-cont:hover .sec-img {
  transform: scale(1.2);
}

.sec-img {
  transition: transform 0.5s ease;
}

@media (min-width: 1040px) {
  .s1_content, .s2_content, .s3_content {
    flex-direction: row-reverse;
    gap: 8rem;
    padding: 10rem 0;
  }

  .s2_content {
    flex-direction: row;
  }

  .text {
    padding: 6.5rem 0 0 0;
  }

  .img-cont {
    min-width: 38rem;
  }

  .text-cont {
    padding: 0 0 0 10rem;
  }
}
footer {
  background-color: rgba(0, 0, 0, 0.1);
}

.footer_wrapper {
  max-width: 37rem;
  margin: 0 auto;
}

.footer_content {
  padding: 3rem 2.4rem 9rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}
.footer_content ul {
  padding: 0;
}

.f-col1,
.f-col2,
.f-col3 {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.f-col1 h2,
.f-col2 h2,
.f-col3 h2 {
  color: #FDD130;
}

.f-col1 img {
  width: 12.8rem;
}
.f-col1 p {
  color: rgba(255, 255, 255, 0.4);
}

.link-ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.link-ul li a {
  display: inline;
  color: #fff;
  background: linear-gradient(90deg, #ebce67, #FDD130);
  background-size: 0 0.2rem;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: 0.25s ease;
}
.link-ul li a:hover {
  background-size: 100% 0.2rem;
  color: #ebce67;
}

@media (min-width: 768px) {
  .footer_content {
    padding: 3rem 2rem 9rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer_wrapper {
    max-width: 65rem;
    margin: 0 auto;
  }
}
@media (min-width: 1040px) {
  .footer_content {
    padding: 3rem 0 12rem 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .footer_wrapper {
    max-width: 100rem;
    margin: 0 auto;
  }

  .f-col1 {
    grid-column: 1/2;
  }

  .f-col2 {
    grid-column: 3/4;
  }

  .f-col3 {
    grid-column: 4/5;
  }
}