@use 'base' as v;

.bg_cont{
    width: 100%;
    height: 130vh;
    max-height: 150rem;
    
    position: absolute;
    
    z-index: 2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 27%, rgba(11,29,38,1) 78%), url(../img/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    @include v.desktop{
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 47%, rgba(11,29,38,1) 99%), url(../img/background.webp);
        height: 200vh;
        background-size: cover;

    }
}
