@use 'base' as v;

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: v.$fondo1;
    color: v.$blanco;
    // font: v.$body-regular v.$fuenteBase;

    position: relative;
    z-index: 1;
}

