@use 'base' as v;

header{
    // position: sticky;
    position: relative;
    top:0;
    z-index: 4;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
}
.header_wrapper {
    max-width: 37rem;
    margin: 0 auto;
}
.header_content{
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
        max-width: 15rem;
        margin: 1.5rem;
    }
}
.nav{
    width: 100%;
}
.nav-ul{
    display: flex;
    padding: 0;
    justify-content: space-around;
}
.nav-li{
    display: contents;
    // margin: auto;
    
    a{
        text-align: center;
        display: block;
        width: 100%;
        padding: 2rem 1rem;
    }
}

@media (min-width: 768px){
    .header_wrapper{
        max-width: 65rem;
    }
    .header_content{
        padding: 1rem 0;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav{
        width: auto;
    }
    .nav-li a{
            padding: 2rem 2rem;
    }
}

@media (min-width: 1040px){
    .header_wrapper{
        max-width: 120rem;
    }
}